<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
</html>

<h1>{{title}}</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <city-search-component></city-search-component>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <poi-list-component></poi-list-component>
    </div>
    <div class="col">
      <map-component></map-component>
    </div>
  </div>
</div>
